<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
        <listener class-name="com.myStore.utilities.Listeners"/>
    </listeners>
  <test thread-count="1" name="Test">
    <classes>
      <class name="com.myStore.testcases.TC1_MyAccount"/>
      <class name="com.myStore.testcases.TC1_MyAccountUsingDDTExcel"/>
      <class name="com.myStore.testcases.BaseClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
